body {
    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
}

.bg-body {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-image: url("/project/static/image/bg.jpg");
}

.icon img{
    width: 30%;
    height: 30%;
    background: #7fee1d;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}